<a href="https://colab.research.google.com/github/kanakpandit17/Python-Programming/blob/main/python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=UrsmFxEIp5k&t=26597s

10-07

REPL stands for Read Evaluate Print Loop. It's an interactive programming environment that allows you to enter and execute commands directly. Hereâ€™s what each part means:

Read: It reads the input you provide.
Evaluate: It evaluates the input.
Print: It prints the result of the evaluation.
Loop: It repeats this process in a continuous loop, allowing you to enter new commands or expressions after seeing the result of the previous one.

In Python, f is used to create f-strings, which are formatted string literals. F-strings provide a concise and readable way to embed expressions inside string literals, using curly braces {} to evaluate expressions and format values within a string.

In [ ]:
def multiplication(num,limit):
  for i in range(1,limit+1):
    print(f"{num}* {i} = {num*i}")

multiplication(5,10)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

20-07-2024

All String Operations

In [ ]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)  # Output: Hello World

Hello World

In [ ]:
str1 = "Hello"
result = str1 * 3
print(result)  # Output: HelloHelloHello

HelloHelloHello

In [ ]:
str1 = "Hello"
print(len(str1))  # Output: 5

5

In [ ]:
str1 = "Hello"
print(str1[1])  # Output: e

e

In [ ]:
str1 = "Hello World"
print(str1[0:5])   # Output: Hello
print(str1[6:])    # Output: World
print(str1[-5:])   # Output: World

Hello
World
World

In [ ]:
str1 = "Hello"
print(str1[::-1])  # Output: olleH

olleH

In [ ]:
str1 = "Hello World"
print(str1.upper())  # Output: HELLO WORLD
print(str1.lower())  # Output: hello world

HELLO WORLD
hello world

In [ ]:
str1 = "hello world"
print(str1.title())  # Output: Hello World

Hello World

In [ ]:
str1 = "hello world"
print(str1.title())  # Output: Hello World

Hello World

In [ ]:
str1 = "  Hello World  "
print(str1.strip())  # Output: Hello World

Hello World

In [ ]:
str1 = "Hello World"
print(str1.replace("World", "Python"))  # Output: Hello Python

Hello Python

In [ ]:
str1 = "Hello World"
print(str1.split())  # Output: ['Hello', 'World']

['Hello', 'World']

In [ ]:
list1 = ["Hello", "World"]
print(" ".join(list1))  # Output: Hello World

Hello World

In [ ]:
str1 = "Hello World"
print(str1.startswith("Hello"))  # Output: True
print(str1.endswith("World"))    # Output: True

True
True

In [ ]:
str1 = "Hello World"
print(str1.find("World"))  # Output: 6
print(str1.index("World")) # Output: 6

In [ ]:
name = "John"
age = 30
print("My name is {} and I am {} years old".format(name, age))
# Output: My name is John and I am 30 years old

My name is John and I am 30 years old

In [ ]:
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old")
# Output: My name is John and I am 30 years old

My name is John and I am 30 years old

In [ ]:
str1 = "Hello"
str2 = "12345"
str3 = "Hello123"

print(str1.isalpha())  # Output: True
print(str2.isdigit())  # Output: True
print(str3.isalnum())  # Output: True

True
True
True

In [ ]:
str1 = "Hello World"
print(str1.swapcase())  # Output: hELLO wORLD

hELLO wORLD

In [ ]:
str1 = "   Hello World   "
print(str1.lstrip())  # Output: "Hello World   "

str2 = "###Hello###"
print(str2.lstrip("#"))  # Output: "Hello###"

Hello World
Hello###

In [ ]:
str1 = "   Hello World   "
print(str1.rstrip())  # Output: "   Hello World"

str2 = "###Hello###"
print(str2.rstrip("#"))  # Output: "###Hello"

   Hello World
###Hello

In [ ]:
str1 = "   Hello World   "
print(str1.strip())  # Output: "Hello World"

str2 = "###Hello###"
print(str2.strip("#"))  # Output: "Hello"

Hello World
Hello

02-08-2024

Variables

In [10]:
_a='12'#Variable name can start with underscore
_a

'12'

In [9]:
1a=_12 #var name cant start with digit

SyntaxError: invalid decimal literal (<ipython-input-9-587149e685bb>, line 1)

In [8]:
a='8one '
a

'8one '

In [11]:
1 a='j' #Var name cant have whitespace
1 a

SyntaxError: invalid syntax (<ipython-input-11-21174f998097>, line 1)

Operators