In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_health=pd.read_csv('/content/drive/MyDrive/dataset1/healthcare_test_data.csv - healthcare_test_data.csv.csv')

In [ ]:
print(df_health)

        case_id  Hospital_code Hospital_type_code  City_Code_Hospital  \
0        318439             21                  c                   3
1        318440             29                  a                   4
2        318441             26                  b                   2
3        318442              6                  a                   6
4        318443             28                  b                  11
...         ...            ...                ...                 ...
137052   455491             11                  b                   2
137053   455492             25                  e                   1
137054   455493             30                  c                   3
137055   455494              5                  a                   1
137056   455495              6                  a                   6

       Hospital_region_code  Available Extra Rooms in Hospital    Department  \
0                         Z                                  3    gynecology
1                         X                                  2    gynecology
2                         Y                                  3    gynecology
3                         X                                  3    gynecology
4                         X                                  2    gynecology
...                     ...                                ...           ...
137052                    Y                                  4    anesthesia
137053                    X                                  2  radiotherapy
137054                    Z                                  2    anesthesia
137055                    X                                  2    anesthesia
137056                    X                                  3    gynecology

       Ward_Type Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
0              S                  A        2.0      17006                2.0
1              S                  F        2.0      17006                2.0
2              Q                  D        4.0      17006                2.0
3              Q                  F        2.0      17006                2.0
4              R                  F        2.0      17006                2.0
...          ...                ...        ...        ...                ...
137052         Q                  D        3.0      41160                3.0
137053         R                  E        4.0      30985                7.0
137054         R                  A        4.0      81811               12.0
137055         R                  E        4.0      57021               10.0
137056         Q                  F        4.0     126729                3.0

       Type of Admission Severity of Illness  Visitors with Patient    Age  \
0              Emergency            Moderate                      2  71-80
1                 Trauma            Moderate                      4  71-80
2              Emergency            Moderate                      3  71-80
3                 Trauma            Moderate                      3  71-80
4                 Trauma            Moderate                      4  71-80
...                  ...                 ...                    ...    ...
137052         Emergency               Minor                      4  41-50
137053         Emergency            Moderate                      2   0-10
137054            Urgent               Minor                      2   0-10
137055            Trauma               Minor                      2  41-50
137056            Trauma             Extreme                      5  51-60

        Admission_Deposit
0                    3095
1                    4018
2                    4492
3                    4173
4                    4161
...                   ...
137052               6313
137053               3510
137054               7190
137055               5435
137056               4702

[137057 rows x 17 columns]

In [ ]:
df_health.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161

In [ ]:
df_health.tail()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
137052,455491,11,b,2,Y,4,anesthesia,Q,D,3.0,41160,3.0,Emergency,Minor,4,41-50,6313
137053,455492,25,e,1,X,2,radiotherapy,R,E,4.0,30985,7.0,Emergency,Moderate,2,0-10,3510
137054,455493,30,c,3,Z,2,anesthesia,R,A,4.0,81811,12.0,Urgent,Minor,2,0-10,7190
137055,455494,5,a,1,X,2,anesthesia,R,E,4.0,57021,10.0,Trauma,Minor,2,41-50,5435
137056,455495,6,a,6,X,3,gynecology,Q,F,4.0,126729,3.0,Trauma,Extreme,5,51-60,4702

In [ ]:
df1=df_health.head(2)
df2=df_health.tail(2)
print(pd.concat([df1,df2]))   #join the first two and last two values

        case_id  Hospital_code Hospital_type_code  City_Code_Hospital  \
0        318439             21                  c                   3
1        318440             29                  a                   4
137055   455494              5                  a                   1
137056   455495              6                  a                   6

       Hospital_region_code  Available Extra Rooms in Hospital  Department  \
0                         Z                                  3  gynecology
1                         X                                  2  gynecology
137055                    X                                  2  anesthesia
137056                    X                                  3  gynecology

       Ward_Type Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
0              S                  A        2.0      17006                2.0
1              S                  F        2.0      17006                2.0
137055         R                  E        4.0      57021               10.0
137056         Q                  F        4.0     126729                3.0

       Type of Admission Severity of Illness  Visitors with Patient    Age  \
0              Emergency            Moderate                      2  71-80
1                 Trauma            Moderate                      4  71-80
137055            Trauma               Minor                      2  41-50
137056            Trauma             Extreme                      5  51-60

        Admission_Deposit
0                    3095
1                    4018
137055               5435
137056               4702

In [ ]:
df3=df_health[df_health['Hospital_code']>=30]
print(df3.sort_values('Hospital_code',ascending=True)) #print details where hospital_code is more than 30 and arrange in asceding order of their code

        case_id  Hospital_code Hospital_type_code  City_Code_Hospital  \
137054   455493             30                  c                   3
85105    403544             30                  c                   3
29090    347529             30                  c                   3
29091    347530             30                  c                   3
29092    347531             30                  c                   3
...         ...            ...                ...                 ...
32098    350537             32                  f                   9
32100    350539             32                  f                   9
79994    398433             32                  f                   9
32077    350516             32                  f                   9
20       318459             32                  f                   9

       Hospital_region_code  Available Extra Rooms in Hospital    Department  \
137054                    Z                                  2    anesthesia
85105                     Z                                  2    gynecology
29090                     Z                                  4    gynecology
29091                     Z                                  4    gynecology
29092                     Z                                  4    gynecology
...                     ...                                ...           ...
32098                     Y                                  4    gynecology
32100                     Y                                  2    gynecology
79994                     Y                                  2    anesthesia
32077                     Y                                  3  radiotherapy
20                        Y                                  2    gynecology

       Ward_Type Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
137054         R                  A        4.0      81811               12.0
85105          R                  A        2.0      52902               16.0
29090          Q                  A        4.0      98350               23.0
29091          S                  A        4.0      98350               23.0
29092          R                  A        4.0      98350               23.0
...          ...                ...        ...        ...                ...
32098          S                  B        2.0      49226                5.0
32100          S                  B        3.0     119694                8.0
79994          S                  B        2.0     110170                8.0
32077          S                  B        4.0      34289                8.0
20             S                  B        2.0      40728                8.0

       Type of Admission Severity of Illness  Visitors with Patient    Age  \
137054            Urgent               Minor                      2   0-10
85105             Trauma               Minor                      4  11-20
29090          Emergency               Minor                      6  21-30
29091          Emergency               Minor                      6  21-30
29092          Emergency               Minor                      6  21-30
...                  ...                 ...                    ...    ...
32098          Emergency            Moderate                      4  31-40
32100          Emergency             Extreme                      4  61-70
79994             Trauma             Extreme                      2  41-50
32077          Emergency               Minor                      2  71-80
20                Urgent            Moderate                      2  51-60

        Admission_Deposit
137054               7190
85105                7506
29090                2830
29091                6976
29092                7727
...                   ...
32098                3825
32100                5767
79994                5645
32077                4378
20                   5716

[8535 rows x 17 columns]

In [ ]:
print(df3)

        case_id  Hospital_code Hospital_type_code  City_Code_Hospital  \
20       318459             32                  f                   9
31       318470             31                  c                   3
50       318489             32                  f                   9
51       318490             32                  f                   9
70       318509             32                  f                   9
...         ...            ...                ...                 ...
137014   455453             31                  c                   3
137024   455463             32                  f                   9
137026   455465             30                  c                   3
137027   455466             32                  f                   9
137054   455493             30                  c                   3

       Hospital_region_code  Available Extra Rooms in Hospital  Department  \
20                        Y                                  2  gynecology
31                        Z                                  4  gynecology
50                        Y                                  3  gynecology
51                        Y                                  3  gynecology
70                        Y                                  2  gynecology
...                     ...                                ...         ...
137014                    Z                                  2  gynecology
137024                    Y                                  3  gynecology
137026                    Z                                  2  anesthesia
137027                    Y                                  3  gynecology
137054                    Z                                  2  anesthesia

       Ward_Type Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
20             S                  B        2.0      40728                8.0
31             R                  A        2.0     111851               14.0
50             S                  B        3.0     127237               12.0
51             S                  B        3.0     127237               12.0
70             S                  B        2.0       3991                8.0
...          ...                ...        ...        ...                ...
137014         S                  A        4.0     122274                8.0
137024         S                  B        2.0       2110                9.0
137026         Q                  A        4.0      46356                8.0
137027         S                  B        2.0      15179                8.0
137054         R                  A        4.0      81811               12.0

       Type of Admission Severity of Illness  Visitors with Patient    Age  \
20                Urgent            Moderate                      2  51-60
31             Emergency             Extreme                      3  41-50
50             Emergency             Extreme                      8  31-40
51             Emergency             Extreme                      8  31-40
70                Trauma            Moderate                      2  71-80
...                  ...                 ...                    ...    ...
137014            Urgent            Moderate                      2  31-40
137024            Urgent               Minor                      2   0-10
137026            Trauma            Moderate                      2  41-50
137027            Urgent            Moderate                      2  41-50
137054            Urgent               Minor                      2   0-10

        Admission_Deposit
20                   5716
31                   4204
50                   3689
51                   7438
70                   5214
...                   ...
137014               8369
137024               5886
137026               5242
137027               4397
137054               7190

[8535 rows x 17 columns]

In [ ]:
df_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137057 entries, 0 to 137056
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            137057 non-null  int64
 1   Hospital_code                      137057 non-null  int64
 2   Hospital_type_code                 137057 non-null  object
 3   City_Code_Hospital                 137057 non-null  int64
 4   Hospital_region_code               137057 non-null  object
 5   Available Extra Rooms in Hospital  137057 non-null  int64
 6   Department                         137057 non-null  object
 7   Ward_Type                          137057 non-null  object
 8   Ward_Facility_Code                 137057 non-null  object
 9   Bed Grade                          137022 non-null  float64
 10  patientid                          137057 non-null  int64
 11  City_Code_Patient                  134900 non-null  float64
 12  Type of Admission                  137057 non-null  object
 13  Severity of Illness                137057 non-null  object
 14  Visitors with Patient              137057 non-null  int64
 15  Age                                137057 non-null  object
 16  Admission_Deposit                  137057 non-null  int64
dtypes: float64(2), int64(7), object(8)
memory usage: 17.8+ MB

In [ ]:
df1=df_health.sort_values('Hospital_code',ascending=True)
df1

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
106366,424805,1,d,10,Y,3,gynecology,R,B,4.0,12585,7.0,Emergency,Moderate,9,21-30,6748
40087,358526,1,d,10,Y,3,gynecology,S,B,2.0,107711,7.0,Trauma,Moderate,2,61-70,6045
107645,426084,1,d,10,Y,4,gynecology,Q,B,2.0,56636,8.0,Emergency,Moderate,4,71-80,4807
5642,324081,1,d,10,Y,2,gynecology,T,B,3.0,43521,8.0,Trauma,Extreme,2,51-60,4866
86259,404698,1,d,10,Y,4,gynecology,R,B,4.0,45493,NaN,Trauma,Moderate,2,31-40,6544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39199,357638,32,f,9,Y,4,gynecology,S,B,2.0,36962,5.0,Trauma,Moderate,2,31-40,5600
27903,346342,32,f,9,Y,3,gynecology,S,B,2.0,5796,7.0,Urgent,Moderate,4,51-60,3882
55600,374039,32,f,9,Y,3,gynecology,S,B,4.0,48447,8.0,Trauma,Moderate,2,31-40,4465
110562,429001,32,f,9,Y,3,gynecology,S,B,2.0,127144,8.0,Emergency,Moderate,2,41-50,4674
19303,337742,32,f,9,Y,3,anesthesia,S,B,4.0,7705,7.0,Trauma,Moderate,6,21-30,4926

In [ ]:
df4=df_health[(df_health['City_Code_Hospital']==9) & (df_health['Type of Admission']=='Trauma')]
df4

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
70,318509,32,f,9,Y,2,gynecology,S,B,2.0,3991,8.0,Trauma,Moderate,2,71-80,5214
79,318518,22,g,9,Y,3,gynecology,R,B,3.0,85286,8.0,Trauma,Minor,3,61-70,5231
107,318546,32,f,9,Y,3,anesthesia,S,B,3.0,55709,7.0,Trauma,Moderate,2,31-40,5253
177,318616,22,g,9,Y,2,gynecology,S,B,2.0,56005,5.0,Trauma,Moderate,2,41-50,5579
186,318625,32,f,9,Y,2,radiotherapy,S,B,2.0,118469,8.0,Trauma,Moderate,2,51-60,5489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136913,455352,22,g,9,Y,2,radiotherapy,S,B,2.0,5459,16.0,Trauma,Minor,3,51-60,4475
136938,455377,32,f,9,Y,1,radiotherapy,S,B,2.0,104717,8.0,Trauma,Moderate,2,51-60,5726
136969,455408,32,f,9,Y,2,gynecology,S,B,2.0,123484,8.0,Trauma,Extreme,2,61-70,5208
136970,455409,22,g,9,Y,2,gynecology,R,B,2.0,123484,8.0,Trauma,Extreme,2,61-70,4687
137025,455464,22,g,9,Y,2,gynecology,R,B,2.0,87362,7.0,Trauma,Moderate,2,51-60,4986

In [ ]:
df_health.drop(['Ward_Type'],axis=1,inplace=True)
df_health.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095
1,318440,29,a,4,X,2,gynecology,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018
2,318441,26,b,2,Y,3,gynecology,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492
3,318442,6,a,6,X,3,gynecology,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173
4,318443,28,b,11,X,2,gynecology,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161

In [ ]:
print(df_health)

        case_id  Hospital_code Hospital_type_code  City_Code_Hospital  \
0        318439             21                  c                   3
1        318440             29                  a                   4
2        318441             26                  b                   2
3        318442              6                  a                   6
4        318443             28                  b                  11
...         ...            ...                ...                 ...
137052   455491             11                  b                   2
137053   455492             25                  e                   1
137054   455493             30                  c                   3
137055   455494              5                  a                   1
137056   455495              6                  a                   6

       Hospital_region_code  Available Extra Rooms in Hospital    Department  \
0                         Z                                  3    gynecology
1                         X                                  2    gynecology
2                         Y                                  3    gynecology
3                         X                                  3    gynecology
4                         X                                  2    gynecology
...                     ...                                ...           ...
137052                    Y                                  4    anesthesia
137053                    X                                  2  radiotherapy
137054                    Z                                  2    anesthesia
137055                    X                                  2    anesthesia
137056                    X                                  3    gynecology

       Ward_Type Ward_Facility_Code  Bed Grade  patientid  City_Code_Patient  \
0              S                  A        2.0      17006                2.0
1              S                  F        2.0      17006                2.0
2              Q                  D        4.0      17006                2.0
3              Q                  F        2.0      17006                2.0
4              R                  F        2.0      17006                2.0
...          ...                ...        ...        ...                ...
137052         Q                  D        3.0      41160                3.0
137053         R                  E        4.0      30985                7.0
137054         R                  A        4.0      81811               12.0
137055         R                  E        4.0      57021               10.0
137056         Q                  F        4.0     126729                3.0

       Type of Admission Severity of Illness  Visitors with Patient    Age  \
0              Emergency            Moderate                      2  71-80
1                 Trauma            Moderate                      4  71-80
2              Emergency            Moderate                      3  71-80
3                 Trauma            Moderate                      3  71-80
4                 Trauma            Moderate                      4  71-80
...                  ...                 ...                    ...    ...
137052         Emergency               Minor                      4  41-50
137053         Emergency            Moderate                      2   0-10
137054            Urgent               Minor                      2   0-10
137055            Trauma               Minor                      2  41-50
137056            Trauma             Extreme                      5  51-60

        Admission_Deposit
0                    3095
1                    4018
2                    4492
3                    4173
4                    4161
...                   ...
137052               6313
137053               3510
137054               7190
137055               5435
137056               4702

[137057 rows x 17 columns]